<nav class="bottom-0 fixed dark:bg-[#0D1C26] w-[100vw]">
    <div class="flex justify-around items-center h-16 px-4 w-[100%]">
            <a href="/" class="text-[#6B98BF] font-['Teko'] xl:text-2xl text-lg hover:text-white transition"><i class="fa-solid fa-house"></i></a>
            <a href="{% url 'profile'%}" class="text-[#6B98BF] font-['Teko'] xl:text-2xl text-lg hover:text-white transition"><i class="fa-solid fa-user"></i></a>
            <a href="{% url 'post' %}" class="text-[#6B98BF] font-['Teko'] xl:text-2xl text-lg hover:text-white transition"><i class="fa-solid fa-plus"></i></a>
            <a href="/blog" class="text-[#6B98BF] font-['Teko'] xl:text-2xl text-lg hover:text-white transition"><i class="fa-solid fa-magnifying-glass"></i></a>
    </div>
</nav>  